<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/da0ba22e-6215-4509-b096-789677f5232e/resourcegroups/Docs0996/providers/Microsoft.Web/sites/ContosoUniversity20171201085923</ResourceId>
    <ResourceGroup>Docs0996</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contosouniversity20171201085923.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contosouniversity20171201085923.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContosoUniversity20171201085923</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContosoUniversity20171201085923</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SchoolDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:contosouniversity20171201085923dbserver.database.windows.net,1433;Initial Catalog=ContosoUniversity20171201085923_db;User ID=admin@superuser.com@contosouniversity20171201085923dbserver;Password=TestTestTest#" Name="Data Source=tcp:contosouniversity20171201085923dbserver.database.windows.net,1433;Initial Catalog=ContosoUniversity20171201085923_db;User Id=admin@superuser.com@contosouniversity20171201085923dbserver;Password=TestTestTest#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContosoUniversity.DAL.SchoolDBContext, ContosoUniversity" MigrationConfiguration="ContosoUniversity.Migrations.Configuration, ContosoUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SchoolDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:contosouniversity20171201085923dbserver.database.windows.net,1433;Initial Catalog=ContosoUniversity20171201085923_db;User Id=admin@superuser.com@contosouniversity20171201085923dbserver;Password=TestTestTest#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>